* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
}

body {
    font-family: 'Futura', 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

.hidden-content {
    display: none;
}

.section-title {
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 10px;
    margin-bottom: 0px; 
}

/* ~~~~~~~~~~ --------------- ~~~~~~~~~~ */
/* ~~~~~~~~~~ first view ~~~~~~~~~~ */
.first-view {
    width: 100%;
    margin-bottom: 0;
}

.first-view img {
    width: 100%;
}

/* ~~~~~~~~~~ --------------- ~~~~~~~~~~ */
/* ~~~~~~~~~~ what is bauhaus ~~~~~~~~~~ */
.what-is-bauhaus-content {
    position: relative;
    padding: 0 50px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
    overflow-x: hidden;
}

.what-is-bauhaus-content h1 {
    color: black;
    font-size: 40px;
}

.big {
    font-size: 126px;
    padding: 0;
    line-height: 100px;
    background: transparent;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;
}

/* ~~~~~~~~~~ --------------- ~~~~~~~~~~ */
/* ~~~~~~~~~~ curriculum section ~~~~~~~~~~ */
.curriculum {
    margin-top: 0px;
    background-color: #BA2A2A;
}

.curriculum-content {
    position: relative;
    padding: 0px 50px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 0px;
    height: 630px;
    overflow-x: hidden;
}

.curriculum-figure {
    display: flex;
    justify-content: center;
    height: 500px;
    margin-top: 25px;
}

.curriculum-content img {
    position: absolute;
    width: 450px;
    height: auto;
    background-color: transparent;
}

.curriculum-content img:nth-child(1) { z-index: 1; }
.curriculum-content img:nth-child(2) { z-index: 2; }
.curriculum-content img:nth-child(3) { z-index: 3; }
.curriculum-content img:nth-child(4) { z-index: 4; }

/* ~~~~~~~~~~ --------------- ~~~~~~~~~~ */
/* ~~~~~~~~~~ history section ~~~~~~~~~~ */
.history {
    background-color: #0059AA;
}

.history-content {
    padding: 0px 50px;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 0px;
}

.history-content p {
    margin-bottom: 10px;
    /* font-family: "Zen Kaku Gothic New", sans-serif; */
    /* font-weight: 350; */
    font-style: normal;
    font-size: 16px;
}

/* ~~~~~~~~~~ ---------------- ~~~~~~~~~~ */
/* ~~~~~~~~~~ meisters section ~~~~~~~~~~ */
.meister {
    background-color: #575757;
}

.meister-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    /* height: 450px; Color Theoryの高さに合わせて調整 */
    margin-bottom: 0px;
}

.modal-wrapper {
    display: flex;
}

.modal-profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-profile-box p {
    margin: 10px 0;
}

.modal-profile {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: 10px;
}

.meister-profiles {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.meister-profile {
    max-width: 20%;
    margin: 3% 1% 10px 1%;
}

.meister-profile img {
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.meister-profile p {
    text-align: center;
    font-size: 0.8em;
}

/* ~~~~~~~~~~ ----------------- ~~~~~~~~~~ */
/* ~~~~~~~~~~ education section ~~~~~~~~~~ */
.education {
    background-color: #DFAA35;
}

.theory-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    height: 1000px; /* Color Theoryの高さに合わせて調整 */
    width: 100%;
}

.subtitle {
    text-align: center;
    padding-bottom: 20px;
}

.subsubtitle {
    text-align: center;
    margin-bottom: 20px;
}

.theory-content img {
    width: 300px;
}

.color-wheel-content {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

.color-wheel-container {
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.color-wheel-container img {
    width: 70%;

}

.color-wheel-content p {
    padding-right: 30px;
}

.color-constraction {
    display: flex;
    width: 100%;
}

h2 {
    font-weight: bold;
}

.tabs {
    display: flex;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.tab {
    flex: 1;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
}

.tab.active {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
    margin-bottom: -1px;
}

.content.active {
    display: block;
}

#composition, #spatial {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-demo {
    margin: 20px;
}

.demo-explanation {
    margin: 20px;
}